.login-page {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 70px;
  justify-content: space-between;
  padding: 15%;
}

.input-email {
  width: 200px;
}

.input-password {
  width: 200px;
}

.btn-login {
  background-color: dodgerblue;
  border: 0;
  color: white;
  height: 22px;
  width: 210px;
}
