.email-totalExpenses {
  align-items: center;
  display: flex;
  height: 30px;
  justify-content: space-around;
  width: 400px;
}

.container-header {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}
